body {
    font-size: 18px;
}

.container {
    width: 560px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    background-color: #F5F1E3;
    border: 1px solid #DDDBCB;
    border-radius: 20px;
}

h1 {
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    justify-content: center;
}

input {
    width: 200px;
    height: 25px;
    text-align: center;
    margin: 0;
    border: 1px solid #CCC;
}

#input-description {
    width: 350px;
    height: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-number {
    width: 70px;
}

#input-button {
    width: 200px;
    height: 45px;
    font-size: 15px;
    background-color: #1B9AAA;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 15px; 
}